In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

age - Age of the patient

sex - Sex of the patient

cp - Chest pain type ~ 0 = Typical Angina, 1 = Atypical Angina, 2 = Non-anginal Pain, 3 = Asymptomatic

trtbps - Resting blood pressure (in mm Hg)

chol - Cholestoral in mg/dl fetched via BMI sensor

fbs - (fasting blood sugar > 120 mg/dl) ~ 1 = True, 0 = False

restecg - Resting electrocardiographic results ~ 0 = Normal, 1 = ST-T wave normality, 2 = Left ventricular hypertrophy

thalachh - Maximum heart rate achieved

oldpeak - Previous peak

slp - Slope

caa - Number of major vessels

thall - Thalium Stress Test result ~ (0,3)

exng - Exercise induced angina ~ 1 = Yes, 0 = No

output - Target variable

In [2]:
heart_data = pd.read_csv("C:/datasets/heart.csv")
heart_data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
heart_data.isna().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [4]:
dict = {}
for i in list(heart_data.columns):
    dict[i] = heart_data[i].value_counts().shape[0]

pd.DataFrame(dict, index=["unique count"]).transpose()

          unique count
age                 41
sex                  2
cp                   4
trtbps              49
chol               152
fbs                  2
restecg              3
thalachh            91
exng                 2
oldpeak             40
slp                  3
caa                  5
thall                4
output               2

In [5]:
# checking for correlation between columns
heart_data.corr()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
age,1.000000,-0.098447,-0.068653,0.279351,0.213678,0.121308,-0.116211,-0.398522,0.096801,0.210013,-0.168814,0.276326,0.068001,-0.225439
sex,-0.098447,1.000000,-0.049353,-0.056769,-0.197912,0.045032,-0.058196,-0.044020,0.141664,0.096093,-0.030711,0.118261,0.210041,-0.280937
cp,-0.068653,-0.049353,1.000000,0.047608,-0.076904,0.094444,0.044421,0.295762,-0.394280,-0.149230,0.119717,-0.181053,-0.161736,0.433798
trtbps,0.279351,-0.056769,0.047608,1.000000,0.123174,0.177531,-0.114103,-0.046698,0.067616,0.193216,-0.121475,0.101389,0.062210,-0.144931
chol,0.213678,-0.197912,-0.076904,0.123174,1.000000,0.013294,-0.151040,-0.009940,0.067023,0.053952,-0.004038,0.070511,0.098803,-0.085239
fbs,0.121308,0.045032,0.094444,0.177531,0.013294,1.000000,-0.084189,-0.008567,0.025665,0.005747,-0.059894,0.137979,-0.032019,-0.028046
restecg,-0.116211,-0.058196,0.044421,-0.114103,-0.151040,-0.084189,1.000000,0.044123,-0.070733,-0.058770,0.093045,-0.072042,-0.011981,0.137230
thalachh,-0.398522,-0.044020,0.295762,-0.046698,-0.009940,-0.008567,0.044123,1.000000,-0.378812,-0.344187,0.386784,-0.213177,-0.096439,0.421741
exng,0.096801,0.141664,-0.394280,0.067616,0.067023,0.025665,-0.070733,-0.378812,1.000000,0.288223,-0.257748,0.115739,0.206754,-0.436757
oldpeak,0.210013,0.096093,-0.149230,0.193216,0.053952,0.005747,-0.058770,-0.344187,0.288223,1.000000,-0.577537,0.222682,0.210244,-0.430696
slp,-0.168814,-0.030711,0.119717,-0.121475,-0.004038,-0.059894,0.093045,0.386784,-0.257748,-0.577537,1.000000,-0.080155,-0.104764,0.345877
caa,0.276326,0.118261,-0.181053,0.101389,0.070511,0.137979,-0.072042,-0.213177,0.115739,0.222682,-0.080155,1.000000,0.151832,-0.391724
thall,0.068001,0.210041,-0.161736,0.062210,0.098803,-0.032019,-0.011981,-0.096439,0.206754,0.210244,-0.104764,0.151832,1.000000,-0.344029
output,-0.225439,-0.280937,0.433798,-0.144931,-0.085239,-0.028046,0.137230,0.421741,-0.436757,-0.430696,0.345877,-0.391724,-0.344029,1.000000

In [6]:
cat_cols = ['sex','exng','caa','cp','fbs','restecg','slp','thall']
con_cols = ["age","trtbps","chol","thalachh","oldpeak"]
target_col = ["output"]
print("The categorial columns are : ", cat_cols)
print("The continuous columns are : ", con_cols)
print("The target variable is :  ", target_col)

The categorial columns are :  ['sex', 'exng', 'caa', 'cp', 'fbs', 'restecg', 'slp', 'thall']
The continuous columns are :  ['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']
The target variable is :   ['output']

In [7]:
heart_data[con_cols].describe().transpose()

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
trtbps    303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
thalachh  303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2

In [8]:
# positive output vs negative output

Positive = heart_data[heart_data["output"] == 1]
Negative = heart_data[heart_data["output"] == 0]

# percentage 
Positive_percentage = len(Positive)/len(heart_data.output)* 100
print("Positive output :", len(Positive))
print("Negative output :", len(Negative))
print("Positive outcome percentage: {}".format (len(Positive)/len(heart_data.output)* 100))

Positive output : 165
Negative output : 138
Positive outcome percentage: 54.45544554455446

In [9]:
heart_data["output"].value_counts()

1    165
0    138
Name: output, dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.metrics import accuracy_score

In [11]:
X = heart_data.drop("output", axis=1)
Y = heart_data["output"]
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

In [12]:
X.head(5)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [13]:
Y.head(5)

0    1
1    1
2    1
3    1
4    1
Name: output, dtype: int64

In [14]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

# Predicting using differnt models

def models(X_train,Y_train):
    #Decision Tree
    Decision_tree = DecisionTreeClassifier(criterion = "entropy")
    Decision_tree.fit(X_train, Y_train)
    
    #Logistic Regression
    log_regression = LogisticRegression()
    log_regression.fit(X_train, Y_train)
    
    #Random forest classifier
    rand_forest = RandomForestClassifier()
    rand_forest.fit(X_train, Y_train)
    
    #SVM
    svm_classifier = svm.SVC(kernel="linear")
    svm_classifier.fit(X_train, Y_train)
    
    print("[0]Decision Tree training accuracy : ", Decision_tree.score(X_train, Y_train))
    print("[1]Logistic Regression training accuracy : ", log_regression.score(X_train, Y_train))
    print("[2]Random forest classifier training accuracy : ", rand_forest.score(X_train, Y_train))
    print("[3]SVM classifier training accuracy : ", svm_classifier.score(X_train, Y_train))
    
    return Decision_tree, log_regression, rand_forest, svm_classifier

In [15]:
model = models(X_train, Y_train)

[0]Decision Tree training accuracy :  1.0
[1]Logistic Regression training accuracy :  0.8429752066115702
[2]Random forest classifier training accuracy :  1.0
[3]SVM classifier training accuracy :  0.8429752066115702

In [16]:
# Checking accuracy of model on test data
from sklearn import metrics
def accuracy_score():
    print("Accuracy score for each model are; ")
    print(" Decision Tree : ", metrics.accuracy_score(Y_test, model[0].predict(X_test)))
    print(" Logistic Regression : ", metrics.accuracy_score(Y_test, model[1].predict(X_test)))
    print(" Random forest classifier : ", metrics.accuracy_score(Y_test, model[2].predict(X_test)))
    print(" SVM classifier : ", metrics.accuracy_score(Y_test, model[3].predict(X_test)))
accuracy_score()

Accuracy score for each model are;
 Decision Tree :  0.7704918032786885
 Logistic Regression :  0.8524590163934426
 Random forest classifier :  0.8524590163934426
 SVM classifier :  0.819672131147541

In [17]:
def F1_score():
    print("F1 score for each model are; ")
    print(" Decision Tree : ", metrics.f1_score(Y_test, model[0].predict(X_test)))
    print(" Logistic Regression : ", metrics.f1_score(Y_test, model[1].predict(X_test)))
    print(" Random forest classifier : ", metrics.f1_score(Y_test, model[2].predict(X_test)))
    print(" SVM classifier : ", metrics.f1_score(Y_test, model[3].predict(X_test)))
F1_score()

F1 score for each model are;
 Decision Tree :  0.787878787878788
 Logistic Regression :  0.8732394366197184
 Random forest classifier :  0.8695652173913043
 SVM classifier :  0.8450704225352113

In [18]:
#predict using the logistic regression model and compare with the actual values
prediction = model[1].predict(X_test)
print(prediction)
print("  ")
print(np.array(Y_test))

[0 1 1 0 0 0 0 0 0 0 1 1 0 1 1 1 0 1 0 1 1 0 0 0 1 1 0 0 1 1 1 0 1 1 1 1 0
 1 0 0 1 1 0 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1]

[0 1 0 0 1 0 0 0 0 0 1 1 0 1 1 1 1 1 0 1 1 0 0 0 1 0 0 0 1 1 0 0 1 1 1 0 0
 1 0 0 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 0 1 0 1 1 1]

In [19]:
# model evaluation table 
algor = ["Decision Tree", "Logistic regression", "Random forest classifier", "SVM Classifier"]
accuracy_score = [metrics.accuracy_score(Y_test, model[0].predict(X_test)), metrics.accuracy_score(Y_test, model[1].predict(X_test)), metrics.accuracy_score(Y_test, model[2].predict(X_test)),  metrics.accuracy_score(Y_test, model[3].predict(X_test))]
F1_score = [metrics.f1_score(Y_test, model[0].predict(X_test)), metrics.f1_score(Y_test, model[1].predict(X_test)), metrics.f1_score(Y_test, model[2].predict(X_test)), metrics.f1_score(Y_test, model[3].predict(X_test))]
Model_evaluation = pd.DataFrame({"MODEL": algor, "ACCURACY SCORE" : accuracy_score, "F1 SCORE" : F1_score})
Model_evaluation

                      MODEL  ACCURACY SCORE  F1 SCORE
0             Decision Tree        0.770492  0.787879
1       Logistic regression        0.852459  0.873239
2  Random forest classifier        0.852459  0.869565
3            SVM Classifier        0.819672  0.845070